<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MathTrainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <MathTrainer.Properties.Settings>
            <setting name="ExamplesCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MainFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="MainFontName" serializeAs="String">
                <value>Times New Roman</value>
            </setting>
            <setting name="NotesFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="NotesFontName" serializeAs="String">
                <value>Palatino Linotype</value>
            </setting>
            <setting name="ExamplesFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ExamplesFontName" serializeAs="String">
                <value>Palatino Linotype</value>
            </setting>
            <setting name="BackgroundId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StretchBackground" serializeAs="String">
                <value>False</value>
            </setting>
        </MathTrainer.Properties.Settings>
    </userSettings>
</configuration>
